<div class="d-flex flex-column align-items-center">
<h2>Want to give us your contact details?</h2>
<form class="d-flex flex-column align-items-center" [formGroup]="info" (ngSubmit)="onSubmit()">
    <label>
        First Name:
        <input id="fname" type="text" formControlName="firstName">
    </label>
    <label>
        Last Name:
        <input id="lname" type="text" formControlName="lastName">
    </label>
    <label>
        Age:
        <input id="age" type="text" formControlName="age">
    </label>
    <label>
        Email:
        <input id="email" type="text" formControlName="email">
    </label>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>

<!-- <ng-template [ngIf]="">

    <div class="align-self-center"></div>

</ng-template> -->