<!-- <form [formGroup]="info" (ngSubmit)="onSubmit()">
    <label>
        Car Name:
        <input type="text" formControlName="firstName">
    </label>
    <label>
        Car Type:
        <input type="text" formControlName="lastName">
    </label>
    <label>
        Car Color:
        <input type="text" formControlName="age">
    </label>
    <label>
        Car Price:
        <input type="number" formControlName="email">
    </label>
    <input type="submit" class="btn btn-primary" value="Submit">
</form> -->

<!-- <ng-template [ngIf]="">

    <div class="align-self-center"></div>

</ng-template> -->