<div class="row mt-4">
    <div *ngFor="let car of cars" class="col-12 col-md-6 col-lg-4">
        <div class="card mb-3">
            <div>
                <div>
                    <img src="/assets/car.jpg" alt="carImage">
                </div>
                <div>
                    <div class="card-body">
                        <h5 class="card-title">{{car.carName}}</h5>
                        <p class="card-text">Type: {{car.carType}}</p>
                        <p class="card-text">Color: {{car.carColor}}</p>
                        <p class="card-text">Price: {{car.carPrice}} €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
